table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid rgb(37, 36, 36);
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: rgb(85, 83, 83);
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  /* background-color: #04aa6d;
  color: white; */
}
